-- Update doctor availability to allow weekend work
UPDATE DoctorAvailabilities 
SET Saturday = 1, Sunday = 1, StartTime = '08:00', EndTime = '17:00'
WHERE DoctorId IN (
    SELECT u.Id 
    FROM AspNetUsers u 
    JOIN AspNetUserRoles ur ON u.Id = ur.UserId 
    JOIN AspNetRoles r ON ur.RoleId = r.Id 
    WHERE r.Name = 'Doctor'
);

-- If no DoctorAvailability records exist, create them
INSERT INTO DoctorAvailabilities (DoctorId, IsAvailable, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, StartTime, EndTime, LastUpdated)
SELECT u.Id, 1, 1, 1, 1, 1, 1, 1, 1, '08:00', '17:00', GETDATE()
FROM AspNetUsers u 
JOIN AspNetUserRoles ur ON u.Id = ur.UserId 
JOIN AspNetRoles r ON ur.RoleId = r.Id 
WHERE r.Name = 'Doctor'
AND NOT EXISTS (
    SELECT 1 FROM DoctorAvailabilities da WHERE da.DoctorId = u.Id
);
